#cal-selector {
  shape-rendering: crispEdges;

}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}


.RdYlGn .under-zero{fill:#d9ef8b;}
.RdYlGn .zero-five{fill:#ffffbf;}
.RdYlGn .five-fifteen{fill:#fee08b;}
.RdYlGn .fifteen-thirty{fill:#fdae61;}
.RdYlGn .thirty-forty-five{fill:#f46d43;}
.RdYlGn .forty-five-sixty{fill:#d73027;}
.RdYlGn .over-sixty{fill:#a50026;}




