#cal-selector {
  shape-rendering: crispEdges;

}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}


.RdYlGn .under-fifteen{fill:#a00000;}
.RdYlGn .fifteen-thirty{fill:#a0a000;}
.RdYlGn .over-thirty{fill:#00a000;}




