
* {
    margin: 0;
    padding: 0;
    font: sans-serif;
    overflow-x: hidden;
}

body {
  font: 10px 'Roboto', sans-serif;
}


#airport-search-text {
    padding: 5px 10px;
    border: 1px solid #808080;
    font-family: "Roboto", sans-serif;

}

h1 {
    font-size: 20pt;
    font-weight: 300;
    float: left;
    margin: auto;
    margin-left: 50px;
   
}

h2 {
    float: right;
    font-size: 14pt;
    margin-right: 25px;
}

#viz-main {
    margin-top: 25px;
}


#map {
    position: relative;
    float: left;
}

#cal-selector {
    float: right;
    margin: auto;
    text-align: center;
}

select {
    font:14px sans-serif;
    margin-left: 5px;
    height: 25px;
    width: 50%;
    line-height: 1;
    border: 1px solid #ccc;
    border-radius: 0;
}



#calendar {
    margin: auto;
    min-width: 180px;
    height: 960px;
    position: relative;
    clear:left;
    z-index: 0;
    overflow: hidden;
}


#cal-slider {
    height: 884px;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 21px;
    left: 0;
    overflow: visible;
}

.outer path {
    cursor: pointer;
}

.chord path {
  fill-opacity: .67;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
